<div class="container mt-4">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Articles" %>
  <h1>Articles</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>本文</th>
        <th>要約</th>
      </tr>
    </thead>
  </table>
  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
  </div>
  <%= link_to "New article", new_article_path %>
</div>